@import url(http://fonts.googleapis.com/css?family=Ubuntu);
*{
    border: 0;
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
}
table{
	width: 100%;
}
body{
    letter-spacing: 1px;
    line-height: 250%;
    font-family: 'Ubuntu', Verdana, sans-serif;
    color: #4C4C4C;
}
.content{
    width:800px;
    margin:60px auto;
    overflow: hidden;
    height:auto;
    position: relative;
    background-color: #A2CD5A;
    border-radius: 20px 20px 20px 20px;
}
#superBorda{
    background: #2F3A2F;
    height: 25px;    
    border-bottom: #8B8B00 1px solid;
}
#destaque{
    padding: 20px 15px;
}
#destaque a{
    color: #2F3A2F;
}
#footer{
	border-top: #2F3A2F 1px solid;
	background: #6E8B3D;
    color: white;
    font-size:  10px;
}
#footer table{
    padding: 5px 15px 0px 15px;
    vertical-align: middle;
}
#imgDj{
	width: 60px;
    text-align: center;
}
form input {
    background-color:#FDFD9A;
    border:2px solid #4C4C4C;
    width: 300px;
    padding:3px;
    border-radius: 5px 5px 5px 5px;
}
form #id_phone_0{
    width: 60px;
    margin: 0 10px 0 0;
}
form #id_phone_1{
    width: 220px;
}

.btn {
    background: #2F3A2F;
    width: 150px;
}
.errorlist{
    color: red;
    font-size: 10px;
    float: right;
    padding-right: 205px;
}